/* Slider de Imágenes Automático: Diseña un slider de imágenes que se desplace automáticamente a la siguiente imagen cada 5 segundos, pero que se detenga cuando el ancho de la pantalla sea inferior a 768px. */

* {
    margin: 0;
    padding: 0;
}

.slider-container {
    max-width: 100%;
    overflow: hidden;
}

.slider {
    height: 100vh;
    display: flex;
    animation: slideAnimation 15s linear infinite;
}

img {
    width: auto;
    height: 100vh;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }
    33.33% {
        transform: translateX(-75%);
    }
    66.66% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 768px) {
    .slider {
        animation: none;
    }
}
