/* Imagen de Fondo Dinámica: Usa una Media Query para cambiar la imagen de fondo de una sección cuando el ancho de la pantalla sea superior a 1200px y otra imagen cuando sea inferior a 1200px. */

.background-section {
    height: 300px;
    text-align: center;
    font-size: 24px;
    background-size: cover;
}

@media screen and (min-width: 1200px) {
    .background-section {
        background-image: url('https://img.freepik.com/fotos-premium/4k-alta-resolucion-limpio-claro-wight-pared-piedra-papel-tapiz-fondo-realista-3d-interpretacion-016_547280-23.jpg');
    }
}

@media screen and (max-width: 1200px) {
    .background-section {
        background-image: url('https://img.freepik.com/fotos-premium/fondo-textura-azulejo-pared-ladrillo_99266-198.jpg?size=626&ext=jpg');
    }
}
