/* Menú de Navegación Desplegable: Diseña un menú de navegación horizontal que se convierta en un menú desplegable vertical cuando el ancho de la pantalla sea inferior a 600px. */
* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ccc;
}
ul {
    list-style: none ;
    display: flex;
    justify-content: space-between;
    padding:  15px 30px;
}

li:hover {
    color: #f00;
    cursor: pointer;
}

li:active {
    text-decoration: underline;
    color: #00f;
}

@media screen and (max-width: 600px) {
    ul {
        display: block;
        text-align: center;
    }
    li {
        padding: 15px;
    }
}