/* Crea un elemento con un ancho que herede el tamaño de su elemento padre. */

.caja {
    width: 300px;
    background-color: red;
}

.subcaja {
    width: inherit;
    background-color: rebeccapurple;
}