/* Estilizar una clase: Crea una clase llamada "destacado" y aplícala a varios elementos en tu página para cambiar el color de fondo y el color de texto. */
*{
    margin: 0%;
    padding: 0;
}

.destacado{
    width: 80%;
    margin: 20px 10%;
    border: 2px solid  #29212c;
}

section{
    margin: 20px 10%;
    border: 2px solid  #29212c;
}

header{
    width: 100%;
    background-color: #79e851;
    height: 50px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 800;
    padding: 10px 0;
    text-align: center;
    color: #29212c;
}

p{
    text-align: justify;
}

a{
    text-decoration: none;
    color: #f00;
}

a:hover {
    text-decoration: underline;
    color: #47ff47;
}

label {
    display: block;
}

ul {
    list-style: none;
    padding: 5px;
}