/* Crea un menú de navegación con tres elementos, uno a la izquierda, otro en el centro y otro a la derecha. Este ejercicio te ayudará a aplicar los diferentes tipos de posicionamiento para crear un diseño más complejo. */

* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #ccc;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}