/* Estilo de una Tabla de Datos: Estiliza una tabla de datos HTML, cambiando el fondo de las filas alternas y agregando bordes a las celdas. */

* {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #2b91bd;
}

table tbody tr:nth-child(even) {
    background-color: #2b91bd3d;
}
